html {
    background: #414141;
}

#mage {
    height: 34px;
    width: 34px
}

#range {
    height: 34px;
    width: 34px
}

#melee {
    height: 36px;
    width: 36px;
}

#blob {
    height: 127px;
    width: 156px
}

#ranger {
    height: 206px;
    width: 116px
}

#button:hover {
    cursor: pointer;
    background-color: rgb(34, 34, 34)
}

h1 {
    margin-bottom: 50px;
}

p {
    margin-top: 5px;
}